<app-navbar></app-navbar>
<h1>
Ajouter un film
</h1>

<br>
<h3>Bonjour {{pseudo}}</h3>
<br>

<!--<form [formGroup]="filmForm" (ngSubmit)="newFilm()">
  <div class="form-group mx-sm-3 mb-2">
    <label for="exampleInputEmail1">Adresse email</label>
    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary mx-3">Valider</button>
</form>
-->
<form [formGroup]="filmForm" (ngSubmit)="newFilm()">
  <div class="form-row mx-sm-3 mb-2">
    <div class="form-group col-md-5">
      <label for="inputNom">Nom du film</label>
      <input type="text" class="form-control" formControlName="nom" id="inputNom">
    </div>
    <div class="form-group col-md-3">
      <label for="inputGenre">Genre</label>
      <select id="inputGenre" formControlName="genre" class="form-control">
        <option selected>Action</option>
        <option>Animation</option>
        <option>Biopic</option>
        <option>Comédie</option>
        <option>Comédie dramatique</option>
        <option>Drame</option>
        <option>Horreur</option>
        <option>Fantastique</option>
        <option>Historique</option>
        <option>Musical</option>
        <option>Policier</option>
        <option>Romance</option>
        <option>Science-Fiction</option>
        <option>Thriller</option>
        <option>Western</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputReal">Réalisateur</label>
      <input type="text" class="form-control" formControlName="real" id="inputReal">
    </div>

  </div>
  <button type="submit" class="btn btn-primary ml-4">Valider</button>
  <button type="reset" class="btn btn-danger ml-4">Effacer</button>
  

</form>
<br>
<table class="table table-dark mx-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Genre</th>
      <th scope="col">Réalisateur</th>
      <th scope="col">Like</th>
      <th scope="col">Dislike</th>
      <th scope="col">Note</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <th scope="row">{{film.id}}</th>
      <td>{{film.nom}}</td>
      <td>{{film.genre}}</td>
      <td>{{film.real}}</td>
      <td><button (click)="like(film.id)" type="button" class="btn btn-outline-success">Like</button></td>
      <td><button (click)="dislike(film.id)" type="button" class="btn btn-outline-danger">Dislike</button></td>
      <td>{{film.note}}</td>
      <td><img (click)="delete(film)"class="picture" src="https://image.flaticon.com/icons/svg/1632/1632708.svg" alt="oups" height="27" width="27"></td>
    </tr>
  </tbody>
</table>



