
<h1>
Ajouter une idée
</h1>
<br>


<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group mx-sm-3 mb-2">
    <label for="exampleInputEmail1">Adresse email</label>
    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary mx-3">Valider</button>
</form>

<br>
<table class="table table-dark mx-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{this.authService.getEmail()}}</td>
      <td>{{this.authService.getPassword()}}</td>
    </tr>
  </tbody>
</table>



